// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #3382CA;
$brand-inverse:         #08152D;
$dove-grey:             #706F70;
$cool-grey:             #8893A6;
$bunting:               #293448;


$body-bg:               #EEEEEE;
$body-color:            #8893A6;

// Options
$enable-shadows:        true;
$enable-gradients:      true;

//image radius
$border-radius:         1rem;

//nav
$nav-link-padding:      0 1em .25em 1em;
$navbar-padding-y:      0;
$navbar-padding-x:      0;

$input-border-color: $brand-primary;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-family-sans-serif: "Open Sans", "Helvetica Neue", sans-serif;
$font-family-base:       $font-family-sans-serif;
$headings-font-weight:    800;
$dt-font-weight:          600;

$headings-color:          #101B31;

$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 0.75rem;

//cards
$card-spacer-x:          1.75rem;
$card-cap-bg:            #FFFFFF;

//buttons
$btn-padding-x:           1.75rem;
$btn-padding-y:           .5rem;
$btn-border-radius:       2rem;
$btn-font-weight:         600;

$blockquote-small-color:  $cool-grey;
$blockquote-font-size:    $font-size-h4;
$blockquote-border-color: transparent;
$blockquote-border-width: 0;